.Learning {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  &__header {
    padding: $gutter calc($gutter * 2);
    display: flex;
    flex-direction: column;

    &__row {
      display: flex;
      justify-content: space-between;
      align-items: center;

      &.--center {
        justify-content: center;
      }

      &__pause {
        font-size: calc($gutter * 1.5);
        cursor: pointer;
      }

      &__timer {
        font-size: $gutter;
        font-weight: bold;
      }

      &__score {
        padding: calc($gutter / 2) $gutter;
        border-radius: 10px;
        font-size: $gutter;
        display: flex;
        align-items: center;
        gap: calc($gutter / 3);
        font-family: $japanese;

        svg {
          font-size: calc($gutter * 1.5);
        }
      }
    }
  }

  &__drawer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    flex: 2;
    justify-content: center;

    &.--wrong {
      animation: shake 0.3s ease-in-out;
      animation-iteration-count: 3;
    }

    &__info {
      display: flex;
      justify-content: space-around;
      width: 80%;
    }

    &__wrapper {
      position: relative;
      width: 100%;

      canvas:nth-child(1) {
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      }

      div {
        border-radius: 20px;
        margin: auto;
      }

      canvas {
        border-radius: 20px;
      }

      &__sound {
        position: absolute;
        top: 10px;
        left: 10px;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: $purple;
        color: $white;
        font-size: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 99999;
        cursor: pointer;
      }

      &__example {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 350px;
        font-family: $japanese;
        font-weight: thin;
        color: #00000020;
      }
    }

    &__progress {
      width: 85%;
      margin: $gutter auto;
      border-radius: 5px;
  
      &__bar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 6px;
        background-color: #d1d1d1;
        position: relative;
  
        &__fill {
          position: absolute;
          height: 100%;
          background-color: $purple;
          z-index: 1;
        }
  
        &__item {
          width: 12px;
          height: 12px;
          background-color: $white;
          border: 1px solid #d1d1d1;
          border-radius: 50px;
          z-index: 2;
  
          &.--active {
            background-color: $purple;
            border: 1px solid $purple;
          }
        }
      }
    }
  }

  &__actions {
    width: 90%;
    margin: $gutter auto;

    &__row {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: calc($gutter / 2);
      margin-bottom: calc($gutter / 2);

      .button {
        flex: 2;
        border-radius: 8px;
      }
    }
  }
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(0);
  }
}
