$red: #d03715;
$camel: #ebc9a6;
$yellow: #f9b917;
$pink: #f25e5e;
$blue: #3db3ea;
$green: #00b849;
$white: #f8f8ff;
$black: #000;

$gutter: 1.5rem;

$font-family: 'Neucha', cursive;
$japanese: 'BIZ UDPMincho', serif;