.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;

    h1 {
        font-size: 5rem;
        font-weight: bold;
    }

    .container {
        &__drawer {
            div {
                border-radius: 20px;
            }
            canvas {
                border-radius: 20px;
            }
        }
    }
}